.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 10px;
    }

.lado-esquerdo {
    background-image: url ("https://www.shutterstock.com/shutterstock/photos/1450341161/display_1500/stock-photo-black-wall-texture-rough-background-dark-concrete-floor-or-old-grunge-background-with-black-1450341161.jpg");
}