.container1 {
    display: flex;
    align-items: center;
}

.secao1 {
    height: 500px;
    padding: 50px;
    background-image: url("https://img.freepik.com/free-photo/young-female-with-beard-backpack-posing-jungle_1296-899.jpg?t=st=1713386527~exp=1713390127~hmac=27c0b232e36846eae0ec8c969d9c614ae8cbfbcbc2ade65b8c21b44f75caf914&w=360");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.titulo1, .paragrafo1, .botao1 {
    margin: 30px;
}

.botao1 {
    background-color: rgb(24, 63, 21);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.secao2 {
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titulo2, .paragrafo2 {
    margin: 30px;
    align-items: baseline;
}

.botao2 {
    background-color: rgb(24, 63, 21);
    color: white;
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    align-self: center;
    width: 150px;
    height: 50px;
}

.secao3 {
    height: 300px;
    padding: 50px;
    display: grid;
    grid-template-areas: 
   "texto imagem imagem"
   "texto imagem imagem"
    "botao imagem imagem"
    ;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px;
    margin: 100px;
    justify-items:right;
}

.titulo3 {
    grid-area: texto;
}

.botao3 {
    grid-area: botao;
    background-color: rgb(24, 63, 21);
    color: white;
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 50px;
    margin-left: 80px;
}

.imagem3 {
    grid-area: imagem;
    height: 300px;
    align-self:last baseline;
}