.geral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloPagina {
  margin: 20px;
  color:rgb(2, 41, 0);
}


.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content:left;
  flex-wrap: wrap;
  font-size: 12px;
  margin: 20px 0px 20px 0px;

}


.texto {
  display: flex;
  flex-direction: column;
  box-shadow: .2em .2em .8em black;
  width: 600px;
  height: 250px;
}



.ntrilha, .nusuario, .duracao, .trajeto, .dificuldade, .tipoDeTrilha, .imagem, .cidadeEstado {
  margin: 10px;
}

.imagem {
  align-self: flex-start;
  justify-self: start;
  height: 250px;
  width: 200px;
  margin: 5px 0px 0px 0px;
}


.ntrilha {
  justify-self: center;
  align-self: center;
  font-size: 12px;
  color:rgb(2, 41, 0);
}


.nusuario {
  align-self: self-end;
  color:rgb(2, 41, 0);
}

.duracao {
  align-self: self-start;
  color: grey;
}


.trajeto {
  align-self: self-start;
  color: grey;
}

.dificuldade {
  align-self: self-start;
}


.cidadeEstado {
  align-self: self-start;
}

.tipodeTrilha {
  align-self: self-start;
  color:rgb(2, 41, 0);
}

