body {
    font-family:"Poppins", sans-serif;
}

.cabecalho, .conteudoCentral, .rodape {
   text-align: center;
}

a{
text-decoration: none;}

.cabecalho {
    background-color: black;
    font-size:x-large;
    color:wheat;
    padding: 5px;
}

.cabecalho a{
    color:rgb(255, 148, 166);
    transform: 3s;
}

.cabecalho a:hover {
    color: brown;
}

.conteudoCentral {
    background-color: rgb(120, 0, 20);
  color:white;
  display:flex;
  flex-direction: column;
flex-wrap: wrap;
align-items: center;
}

.resumo, .habilidades, .emprego, .mensagem {
    font-size: larger;
}

#nome {
    font-size: 50px;
    color: rgb(0, 0, 0);
    transition: transform 1s;
}

#nome:hover,
#nome:focus {
    color:rgb(255, 255, 255);
}

#funcao {
    font-size: larger;
}


.rodape {
    background-color: rgb(81, 16, 0);
    color: antiquewhite;
}

.galeria {
    width: 100%;
}

.galeria .imagem {
    width: 40%;
    border-radius: 40%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#Botao {
    background-color:rgb(255, 244, 29);
    color:rgb(27, 5, 0);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 1%;
    width: 130px;
    height: 65px;
    font-size:larger;

}

#Botao:hover {
    background-color: white;
    transform: scale(1.2);

}