.cabecalho {
    background-color: black;
    font-size:x-large;
    color:wheat;
}

.conteudoCentral {
    background-color: rgb(86, 0, 14);
  color:white;

}

#nome {
    font-size: larger;
}

#funcao {
    font-size: larger;
}


.rodape {
    background-color: rgb(208, 42, 1);
}
